*{
    margin-right:0;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header{
    font-family: 'Poppins', 'sans-serif';
    background-color:#DDE9E9;
    border-bottom: 0.2px solid #a7a7a7;
    padding:5px;
    overflow-x:hidden !important;
    min-width:100% !important;
}


.navigation{
    padding:10px;
}


.nav_link{
    margin-right:20px;
    text-decoration:none;
    color:rgb(109, 109, 109);
}


.logo_img{
    width:2em;
    height:2em;
    margin-right:10px;
}


.nav_img{
    width:1.9em;
    height:1.9em;
    margin-right:10px;
    filter:contrast(20%)
}


.padding_form{
    padding:100px;
}


.hero_div{
    background-image: url('/assets/main/Hero.jpg');
    background-size:cover; background-position:center;
    height:100vh;
    overflow-x:hidden;
}


.hero_section{
    padding-top:80px;
    margin-left:80px;
    font-family: 'Poppins', 'sans-serif';
}

.hero_title{
    font-family: 'Red Hat Display', 'sans-serif';
    max-width:800px;
    color:#414141;
    margin-bottom:30px;
    font-weight:500;
    font-size:48px;
}


.hero_text{
    max-width:400px;
    color:#666666;
    margin-bottom:30px;
}


.hero_button{
    border:none;
    padding: 10px 80px 10px 80px;
    border-radius:10px;
    background-color:#d53c00;
    color:white;
    font-size:18px;
}


.section_1{
    padding:20px;
    padding-top:50px;
    font-family: 'Poppins', 'sans-serif';
}


.section_1-img{
    margin-bottom:20px;
    width:3em;
}


.section_1-title{
    font-size:20px;
}


.section-1-text{
    font-size:16px;

}

.section_2-img{
    padding-right:50px;
}


.section_2-title{
    font-family: 'Red Hat Display', 'sans-serif';
    font-size:36px;
}


.section_2-text{
    font-family: 'Poppins', 'sans-serif';
    font-size:16px;
    padding-bottom:30px;
    color:#666666;
}


.section_2-button{
    background-color:#25C3D9;
    font-size:24px;
    width:100%;
    font-family: 'Poppins', 'sans-serif';
    border:none;
    color:white;
    border-radius:20px;
    height:100%;
}


.section_2-icon{
    width:55px;
    height:37px;
}


.services_div{
    background-color:#F0F9F9;
}


.service_div{
    width:350px;
    height:350px;
    padding:30px;
    background-color:white;
    box-shadow: 0px 2px 10px 0px gray;
    border-radius:20px;
}

.services_img{
    width:100px;
    height:100px;
    padding:10px;
}


.service_title{
    font-family: 'Red Hat Display', sans-serif;
    font-size:20px;
    margin-top:10px;
    color:#000000;
}

.service_text{
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    padding-top:20px;
    color:#505050;
    
}


.basic_title{
    padding-top:50px;
    font-family: 'Red Hat Display';
    font-size: 20px;
}

.basic_text{
    font-family: 'Red Hat Display';
    padding-bottom:100px;
    font-size:30px;
}

.specialist{
    width:296.5px;
    height:499px;
}


.specialists{
    padding-bottom:100px;
}


.form_1{
    background-color:#F1F1F1;
}


.form_title{
    font-size:48px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight:500;
    padding-bottom:30px;
}


.checkmark_div{
    margin-bottom:20px;
    font-family: 'Poppins', sans-serif;
}



.form_2{
    background-color:#00B8B8;
    color:white;
}


form{
    display:flex;
    flex-direction:column;
}

input[type="text"]{
    border: none; 
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size:16px;

}

input::placeholder{
    color:white;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
}


.clientes{
    padding-left:50px;
    padding-right:50px;
    padding-bottom:20px;
    font-family:'Poppins', sans-serif;
}


.cliente_text{
    border:1px solid gray;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    padding:20px;
    border-radius:20px;
}

.cliente_pic{
    width:75px;
    height:75px;
}

.clientes_satisfeitos{
    border: 3px solid #1AA2B5;
    border-radius:20px;
    padding:30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size:30px;
}

.cliencter{
    padding:200px !important;
}

.footer1{
    font-family: 'Poppins', sans-serif;
    padding:0;
    padding-top:0px;
}


.footer_img{
    width:75px;
    height:75px;
}


@media only screen and (max-width: 576px){
    .hero_div{
        background-image: url('/assets/main/hero_mobile.jpg');
        background-size:cover; background-position:center;
        height:100vh;
        background-color: rgba(0,0,0,0.5);
    }

    .hero_section{
        padding-top:40px;
        margin-left:30px;
        font-family: 'Poppins', 'sans-serif';
 
    }


    .hero_text{
        max-width:350px;
        color:rgb(255, 248, 240);
        margin-bottom:15px;
        font-size:14px;
        
    }

    
    .form_title{
        font-size:30px;
        font-family: 'Red Hat Display', sans-serif;
        font-weight:500;
        padding-bottom:30px;
    }

    .hero_button{
        border:none;
        padding: 10px 30px 10px 30px;
        border-radius:10px;
        background-color:#ff3c00;
        color:white;
        font-size:16px;
    }

    br{
        display:none;
    }
    h1{
        font-size:30px !important;
        margin-bottom:15px !important;
        color:black;
    }
    
    .hero_title{
        margin-bottom:15px !important;
        max-width:400px;
        color:rgb(255, 248, 240);
    }

    .nav_link:first-of-type{
        display:none;
    }
    .nav_link:last-of-type{
        display:none;
    }

    .col:first-of-type{
        display:none;
    }

    .section_2-img{
        padding-right:none !important;
        padding-bottom:50px;
    }

    .service_title{
        font-size:18px;
    }

    .service_text{
        font-size:14px;
    }

    .services_div{
        padding-left:20px;
        padding-right:20px;
    }

    .section_2-button{
        background-color:#25C3D9;
        font-size:20px;
        width:100%;
        font-family: 'Poppins', 'sans-serif';
        border:none;
        color:white;
        border-radius:20px;
        height:100%;
    }

    .form_1{
        width:100%;
    }

    .form_2{
        width:100%;
    }
    
    .cliente_text{
        display:none;
    }

    .cliente_info{
        padding-bottom:50px;
    }

    .clientes_satisfeitos{
        font-size:20px;
    }

    .cliencter{
        padding:60px;
    }

    .padding_form{
        padding:60px;
    }
    
}
